template(name="comment")
  article.comment
    header
      a(href="#") #{username}

    section.post-body
      p #{text}

    footer
      ul
        li: a.reply(href="#") reply
        //- Show delete button if user owns this topic
        if isAuthor
          li: a.delete(href="#") delete
