/* =font declarations
------------------------------------------ */
@import url('https://fonts.googleapis.com/css?family=Montserrat')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic')
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic')
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic')
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic')


/* =variable declarations
------------------------------------------ */
@import 'colors'

$open-sans = 'Open Sans', 'Trebuchet MS', Helvetica, Verdana, sans-serif

border-radius(size)
  -webkit-border-radius size
  -moz-border-radius size
  border-radius size

$lh = 1.5


/* =reset
------------------------------------------ */
*
  box-sizing border-box

  margin 0
  padding 0
  border 0

  line-height $lh

input
textarea
  resize none
  outline none
  border none
  -webkit-box-shadow none
  -moz-box-shadow none
  box-shadow none


/* =global styles
------------------------------------------ */
body
  padding 0 5%

  font-size 100%
  font-family $open-sans

  color $black

h1
  font-size 2.747em
h2
  font-size 1.229em
h3
  font-size 0.874em

a
  text-decoration none

input
textarea
  border 1px solid $olive
  padding 10px
  
  font-family $open-sans

input[type='text']
textarea
  width 100%


/* =page structure
------------------------------------------ */


/* =heading
------------------------------------------ */
body > header
  margin-bottom 20px
  font-family Montserrat, sans-serif


/* =main content
------------------------------------------ */
form.new-topic
  width 35%
  min-width 300px
  margin 20px 0

  textarea
    height ($lh * 8)em
    margin 10px 0
  
.topic
  margin 20px 0
  padding 20px
  border-radius 10px

  background-color $pastel-green

  header a
    color $blue
    font-weight bold

.topic footer
.comment footer
  li
    display inline
    font-size 0.8em
    a
      color $olive

form.reply
  width 50%
  min-width 300px
  margin 20px 0

  textarea
    height ($lh * 5)em
    margin 10px 0


/* =footer
------------------------------------------ */


/* =text styles
------------------------------------------ */
.topic > header
  font-family $open-sans
