head
  title discuss

body
  header
    h1 discuss

  form(class='new-topic')
    p: input(type='text' name='title'
          placeholder='Describe your post in a few words')
    textarea(name='text' rows='5' cols='30' placeholder='Write your post here')
    p: input(type='submit' value='Start discussion')

  #topics
    each topics
      +topic

template(name='topic')
  div.topic
    header
      h2= title

    form(class='reply')
      textarea(name='text' rows='5' cols='30' placeholder='Write your comment here')
      p: input(type='submit' value='Reply')

    p #{countComments} comments
    each comments
      +comment

template(name='comment')
  div.comment
    p.tagline
      a(href='#')= username
    p.text
      = text
